.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.gameboard {
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 450px;
  width: 570px;
  box-shadow: 4px 4px 10px gray;
  justify-content: center;
  align-items: center;
}

.image {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 120px;
  width: 120px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  padding: 10px;
  margin: 10px;
}

.image-blank {
  background: url("./components/Images/icon.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 120px;
  width: 120px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  padding: 10px;
  margin: 10px;
}

.game-over {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.login {
  display: block;
  justify-content: center;
  align-items: center;
  height: 30vh;
  text-align: center;
  box-shadow: 6px 6px 6px gray;
  background: white;
}

.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-color: rgb(139, 51, 99);
  color: white;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(139, 51, 99);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(59, 22, 42);
}

.time {
  font-size: 3rem;
  padding: 2rem;
}

.button {
  padding: .6rem 1.5rem;
  margin: .4rem;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .8rem;
  border-style: groove;
}

.button:focus {
  outline-width: 0;
}

.button-primary:hover {
  background-color: #2641d4;
  border: 1px solid #1b1f2b;
}

.button-primary-active {
  background-color: #3151ff;
  border: 1px solid #152684;
  color: white;
}

.button-primary-inactive {
  background-color: #3151ff;
  border: 1px solid #152684;
  color: white;
}

@media only screen and (max-width: 600px) {
  .image {
    height: 100px;
    width: 110px;
    margin: 5px;
  }
}