.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.gameboard {
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 450px;
  width: 570px;
  box-shadow: 4px 4px 10px gray;
  justify-content: center;
  align-items: center;
}

.image {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 120px;
  width: 120px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  padding: 10px;
  margin: 10px;
}

.image-blank {
  background: url("./components/Images/icon.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 120px;
  width: 120px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  padding: 10px;
  margin: 10px;
}

.game-over {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 30vw;
  text-align: center;
  box-shadow: 6px 6px 6px gray;
  background: white;
}